{
  "name of project": {
    "name": "name of project",
    "jql": "issues with status != Done",
	"jql_all": "issues with status != Done and status != To Do",
	"chat_id": telegram_caht_id,
	"protocol_bot": "telegram username of protocol bot",
	"confluence_pages": [ids_of_confluence_page],
    "user_map": {
        "telegram_login": {
        "jira_name": "Иван Иванов",
        "role": "Backend-разработчик"
		},
		...
    }
  }
}
